<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="cuba-example-controller-helper"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.cech.entity.Product</class>
        <class>com.company.cech.entity.ProductCategory</class>
        <class>com.company.cech.entity.Order</class>
        <class>com.company.cech.entity.LineItem</class>
    </persistence-unit>
</persistence>
